<div class="container recipeContainer">
  <p>Recipe Results!</p>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.info}}</p>
      <a href="#" class="btn btn-primary">Link to Recipe</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.info}}</p>
      <a href="#" class="btn btn-primary">Link to Recipe</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.info}}</p>
      <a href="#" class="btn btn-primary">Link to Recipe</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.info}}</p>
      <a href="#" class="btn btn-primary">Link to Recipe</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.info}}</p>
      <a href="#" class="btn btn-primary">Link to Recipe</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.info}}</p>
      <a href="#" class="btn btn-primary">Link to Recipe</a>
    </div>
  </div>
</div>

<script src="./models/recipes.js"></script>